mixin service-home-card(icon, title, description)
    .service-home-card.fade-in
        .service-icon-wrapper
            i(class=icon)
        h4.service-title #{title}
        p.service-description #{description}
        a.service-link(href="http://localhost:3000/dichvu") Xem thêm